.autocompelet {

  .Mui-focused .MuiOutlinedInput-notchedOutline {

    margin-left: 100px !important;

  }

  .MuiOutlinedInput-notchedOutline {
            margin-left: 100px !important;
  }


}


.boxes{
    /* background-color: lightgrey; */
    cursor: pointer;
}

.boxes:hover{
    background-color: rgb(241, 238, 238);
}